html {
    height: 100%;
}

body {
    font-family: 'Indie Flower', cursive;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    padding-top: 20px;
    padding-left: 20px;
    flex: 1;
}

nav {
    margin-left: 35%;
    flex: 3;
    display: flex;
}

nav a {
    font-size: 20px;
    color: black;
    padding: 30px 20px 30px 30px;
    text-decoration: none;
}

.intro {
    height: 100px;
    text-align: center;
}

.intro h2 {
    padding-top: 1rem;
    font-size: 3rem;
    color: black;
}

.cards {
    background-color:white;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.img1 {
    background-color: white;
    height: 400px;
    width: 40%;
    margin-left: 50px;
}

.img1 iframe {
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 4rem;
    object-fit: contain;
    object-position: center;
}

.img1 img {
    text-align: center;
    padding-top: 8rem;
    width: 30%;
    height: 50%;
    object-fit: contain;
}

.img2 {
    background-color: white;
    height: 400px;
    width: 40%;
    margin-right: 50px;
}

.img2 img {
    text-align: center;
    padding-top: 8rem;
    width: 30%;
    height: 50%;
    object-fit: contain;
}

.txt1 {
    background-color: black;
    color: white;
    height: 400px;
    width: 40%;
    margin-right: 100px;
}

.txt1 p {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 2.5rem;
}

.txt2 {
    background-color: black;
    color: white;
    height: 400px;
    width: 40%;
    margin-left: 100px;
}

.txt2 p {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 2.5rem;
}

.txt3 {
    background-color: black;
    color: white;
    height: 400px;
    width: 40%;
    margin-right: 100px;
}

.txt3 p {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 2.5rem;
}

.txt4 {
    background-color: black;
    color: white;
    height: 530px;
    width: 40%;
    margin-left: 100px;
}

.txt4 p {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 2.5rem;
}

.txt5 {
    background-color: black;
    color: white;
    height: 540px;
    width: 40%;
    margin-right: 100px;
}

.txt5 p {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 2.5rem;
}

footer {
    height: 50px;
    text-align: center;
    background-color: lightgray;
    color: black;
    padding-top: 28px;
}