html {
    height: 100%;
}

body {
    font-family: 'Indie Flower', cursive;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    padding-top: 20px;
    padding-left: 20px;
    flex: 1;
}

nav {
    margin-left: 35%;
    flex: 3;
    display: flex;
}

nav a {
    font-size: 20px;
    color: black;
    padding: 30px 20px 30px 30px;
    text-decoration: none;
}

.cards {
    background-color:white;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    width: 100%;
    height: 100%;
}

.slideshow {
    overflow: hidden;
    height: 300px;
    width: 500px;
    margin-left: 150px;
    margin-right: 10px;
    margin-top: 30px;
    justify-content: center;
}

.slideshow .slide-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    object-fit: contain;
    width: calc(500px * 6);
    animation: slide 30s ease-in-out infinite;
}

.slideshow .slide {
    float: left;
    height: 400px;
    width: 500px;
}

@keyframes slide {
    /* Calculate the margin-left for
      each of the slides */
      14.3% {
        margin-left: 0px;
      }
      28.6% {
        margin-left: calc(-500px * 1);
      }
      42.9% {
        margin-left: calc(-500px * 2);
      }
      57.1% {
        margin-left: calc(-500px * 3);
      }
      71.4% {
        margin-left: calc(-500px * 4);
      }
      85.7% {
        margin-left: calc(-500px * 5);
      }
}

#slideshow1 {
    overflow: hidden;
    height: 400px;
    width: 350px;
    margin-left: 100px;
    margin-right: 200px;
    justify-content: center;
}

#slideshow2 {
    overflow: hidden;
    height: 400px;
    width: 350px;
    margin-left: 220px;
    margin-right: 90px;;
    justify-content: center;
}

.slide {
    float: left;
    height: 400px;
    width: 350px;
}

.slide-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    object-fit: contain;
    width: calc(350px * 4);
    animation: slide1 20s ease-in-out infinite;
}

@keyframes slide1 {
    /* Calculate the margin-left for
      each of the slides */
      20% {
        margin-left: 0px;
      }
      40% {
        margin-left: calc(-350px * 1);
      }
      60% {
        margin-left: calc(-350px * 2);
      }
      80% {
        margin-left: calc(-350px * 3);
      }
}

.slideshow3 {
    overflow: hidden;
    height: 300px;
    width: 500px;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
    justify-content: center;
}

.slideshow3 .slide-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    object-fit: contain;
    width: calc(500px * 6);
    animation: slide 30s ease-in-out infinite;
}

.slideshow3 .slide {
    float: left;
    height: 400px;
    width: 500px;
}

.img1 {
    background-color: white;
    height: 400px;
    width: 40%;
    margin-left: 50px;
}

.img1 iframe {
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 4rem;
    object-fit: contain;
    object-position: center;
}

.img1 img {
    text-align: center;
    padding-top: 8rem;
    width: 30%;
    height: 50%;
    object-fit: contain;
}

.img2 {
    background-color: white;
    height: 400px;
    width: 40%;
    margin-right: 50px;
}

.img2 img {
    text-align: center;
    padding-top: 8rem;
    width: 30%;
    height: 50%;
    object-fit: contain;
}

.txt1 {
    background-color: black;
    color: white;
    height: 400px;
    width: 40%;
    margin-right: 100px;
}

.txt1 h2 {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 2rem;
}

.txt1 p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 2rem;
}

.txt2 {
    background-color: black;
    color: white;
    height: 400px;
    width: 40%;
    margin-left: 100px;
}

.txt2 h2 {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 2rem;
}

.txt2 p {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 2rem;
}

footer {
    height: 50px;
    text-align: center;
    background-color: lightgray;
    color: black;
    padding-top: 28px;
}